body.rtl_mode {
    direction: rtl;

    .sub-menu-arrow {
        margin-right: auto;
        margin-left: inherit;
    }

    .o_action_manager, .awesome_header, .awesome_footer {
        direction: rtl;
        margin-left: 0px;
    }

    .awesome_header {
        padding: 0 1rem 0 0;

        .navigation-toggler {
            margin-left: 1rem;
            margin-right: auto;

            .nav-link {
                svg {
                    transform:rotate(180deg);
                    -ms-transform:rotate(180deg); 	/* IE 9 */
                    -moz-transform:rotate(180deg); 	/* Firefox */
                    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
                    -o-transform:rotate(180deg); 	/* Opera */
                }
            }
        }
    }

    .board-pannel {
        left: 0px;
        right: 80px;;
    }

    .customizer {
        left: -450px;
        right: auto;
        transition: left 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
        border-left:none;
        border-right: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);

        &.open {
            left: 0px;
            right: auto;
        }
    }

    .o_list_view {
        .o_list_table {
            direction: rtl;
        }
    }

    .dropdown-menu-right {
        left: 0;
        right: auto;
    }

    .o_list_view {
        .o_optional_columns_dropdown_toggle, .o_optional_columns {
            left: 5px;
            right: auto;
        }
    }

    .awesome_footer {
        .awesome_pager_box {
            .btn {
                transform:rotate(180deg);
                -ms-transform:rotate(180deg); 	/* IE 9 */
                -moz-transform:rotate(180deg); 	/* Firefox */
                -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
                -o-transform:rotate(180deg); 	/* Opera */
            }
        }
    }

    .o_web_client {
        .o_content {
            direction: rtl !important;
        }
    }

    .navigation {
        ul {
            li {
                > a {
                    &.active:after {
                        right: auto;
                        left: 0px;
                    }
                }
            }
        }
    }

    .o_form_view {
        .o_notebook {
            > .o_notebook_headers{
                > .nav.nav-tabs {
                    padding-left: 0px;
                    padding-right: 16px;
                    > .nav-item + .nav-item > .nav-link {
                        border-left: 1px solid gray('300');
                        border-right: inherit;
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                    }
                }
            }
        }

        .o_form_statusbar{
            padding-right: 16px;
            padding-left: 0px;
            > .o_statusbar_status {
                margin-left: 0px;
                margin-right: auto;
            }
        }
    }

    .input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-right: 0px;
    }

    .input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .o_base_settings .o_control_panel .o_panel {

        .title, .o_setting_search {
            text-align: right;
        }

        .o_setting_search {
            .searchIcon {
                right: auto;
                left: 0;
            }
        }
    }

    .o_searchview {
        .o_searchview_input_container {
            .o_searchview_facet {
                .o_facet_remove {
                    left: 0px;
                    right: auto;
                }

                .o_facet_values {
                    padding: 0 5px 0 18px;
                }
            }
        }

        .o_searchview_input {
            padding: 1px 2px;
            padding-right: 4px;
        }
    }

    .awesome_header {
        .o_filter_menu, .o_favorite_menu, .o_group_by_menu {
            margin-right: 5px;
            margin-left: 0px;
        }
    }

    .awesome_multi_tab_container {
        .awesome_multi_tab {
            padding: 0 40px 0 80px;

            .awesome_icon_down {
                right: auto;
                left: 1px;
            }

            .awesome_icon_next {
                left: 40px;
                right: auto;
            }

            .awesome_icon_prev {
                left: auto;
                right: 0px;
            }
        }
    }

    .o_search_panel {
        border-left: 1px solid #dee2e6;
        border-right: none;

        .o_search_panel_label {
            text-align: right;
        }
    }
}

html {
    body.rtl_mode {
        &.o_web_client {
            .o_content {
                direction: rtl !important;
            }
        }
    }
}


@include media-breakpoint-up (xl) {
    body.rtl_mode {
        &.navigation-toggle-two {
            .awesome_header, .o_action_manager, .awesome_footer {
                margin-right: 300px;
            }

            .navigation {
                right: 0px;
            }
        }

        &.navigation-toggle-one {
            .awesome_header, .o_action_manager, .awesome_footer {
                margin-right: 80px;
            }

            .navigation {
                right: 0px;
            }
        }

        &.no-sub-menu {
            .awesome_header, .o_action_manager, .awesome_footer {
                margin-right: 80px;
                margin-left: 0px;
            }
        }
    }
}

@include media-breakpoint-down (xl) {
    body.rtl_mode {

        .navigation {
            left: auto;
            right: -310px;
        }

        .awesome_header, .o_action_manager, .awesome_footer {
            margin-right: 0px;
        }

        &.navigation-show {
            .navigation {
                right: 0px !important;
            }
        }
    }
}

@include media-breakpoint-up(xxl) {
    body.rtl_mode {
        .o_form_view {
            > .oe_chatter, .o_FormRenderer_chatterContainer {
                border-left: none;
                border-right: 1px solid gray('300');
            }
        }
    }
}
